.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 40px 40px 40px 40px 40px;
    font-weight: 800;
    border-radius: 5px;
    width: 250px;;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.container div{
    border: 1px solid lightblue;
    text-align: center;
    position: relative;
}
#risultato{
    text-align: end;
    padding: 1ch;
    grid-column: 1/5;
    color: white;
    background-color:rgb(248, 126, 126);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.uguale{
    grid-column-start: 4;
    grid-row:3/7 ;
    position: relative;
    background-color: rgb(138, 138, 138);
    border-bottom-right-radius: 5px;
}
div > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.colore{
    background-color: rgb(245, 245, 245);
}
.border-radius{
    border-bottom-left-radius: 5px;
}
